<app-nav-bar></app-nav-bar>

<div style="margin-top: 10px; margin-left: 3%;">

  <div class="container" >

        <div class="container">
          <img src="./assets/home/home.jpg" alt="home"  width="1300"
               height="500"  >
          <div class="container" style="color:silver; margin-top: -150px">
            <h1>Banking System.</h1>
            <p>This is a web app to control the transactions between a bank customers.</p>
            <p><a class="btn btn-lg btn-primary" href="#"> More Info </a></p>
          </div>
        </div>



    </div>

  <div class="container marketing" style="margin-top: 50px">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4"style="border-color: black">
        <div class="bd-placeholder-img rounded-circle" >
            <img class="border border-primary" src="./assets/home/11.jpg" alt="home" width="140" height="140"  >
        </div>
        <h2>Customers</h2>
        <p>Yuo have the possibility to see all customers in our banking system and there balance.</p>
        <p><a class="btn btn-secondary" routerLink="/customers">Go to customers page &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" >
          <img class="border border-primary" src="./assets/home/2.jpg" alt="home" width="140" height="140"  >
        </div>
        <h2>Transactions</h2>
        <p>This web app give you the possibility of seeing all transactions done in your system.</p>
        <p><a class="btn btn-secondary" routerLink="/transactions">Go to transactions page &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" >
          <img class="border border-primary" src="./assets/home/3.jpg" alt="home" width="140" height="140"  >
        </div>

        <h2>Make transaction</h2>
        <p>You can make transaction from one customer account to an other customer account</p>
        <p><a class="btn btn-secondary" routerLink="/make-transaction">Go to make transaction page &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Info about the web app. </h2>
        <p class="lead">This is a simple web app of banking system that manage the transaction between the customer of a bank
          the app was created wuing angular and bootstrap as front end and java spring boot in the back end the data base of that project is mongoDB  </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="./assets/home/55.jpg" alt="home"  >

      </div>
    </div>



    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022–2025 Elemary, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>

