<app-nav-bar></app-nav-bar>
<div class="main-content" style="margin-left:2%;padding:1px 16px;height:1000px; margin-top: 10px">
  <h2>Customers Table</h2>
  <div *ngIf="!isLoading" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Customers</h4>
          <p class="card-category"> In this table you can find all costumers and there balance </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary ">
              <th >ID</th> <th>Name</th><th>Email</th><th>Balance</th>
              </thead>
              <tbody>
              <tr *ngFor="let customer of users | async " routerLink="/customers/{{customer.email}}">
                <td>{{customer._id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.balance}}$</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="d-flex justify-content-center" >
    <div class="spinner-border " role="status" style="width: 3rem; height: 3rem; margin-top: 300px">
    </div>
  </div>
</div>
